# Python bytecode / optimized files
__pytest__
*.py[cod]

# Setuptools / distribution / packaging
*.egg
*.egg-info
build
dist
venv

# Compiled and minified assets
*.css

# Node packages
node_modules

# Bower-managed packages
**/static/vendor
